site-heading-lower{
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-image:url("../assets/img/bg.jpg") !important;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.mysubfont{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(247, 164, 10) !important;
}
.myimg{
    width: 50% !important;
}
.myitalics{
    font-style: italic;
}
.listheading{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}
.listvendor{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}
.listinfo{
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}
p{
   background-color: rgb(232, 186, 156);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 35px;
   color: black;
   text-align: center;
   margin-left: 35%;
   margin-right: 35%;
}
ol{
    margin-top: 5%;
    margin-bottom: 10%;
    background-color: rgb(232, 186, 156);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 35%;
    margin-right: 35%;
 }
 header{
    margin:auto;
    margin-right: 0%;
    text-align: right;
}
iframe{ 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 27%;
}
.tab{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 19%;
}
.bodyStuff{
    border: initial;
    background-color: initial;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 25px;
    image-rendering: auto;
}
.common{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    background-color: aliceblue;
    border: 2px solid black;
    padding: 5px;
    margin:5px;
}
img{
    width: 18%;
    border: 1px solid black;
    padding: 3px;
    margin: 3px;
}
a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}
footer{
    margin:auto;
    margin-right: 0%;
    text-align: right;
}